<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<using assembly="Acme.Crm.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1987352536523" />

	<include uri="file://Configurations/services.xml" />
	<include uri="assembly://XMS.Core/Configuration/DataConfiguration.xml" />

	<installers>
		<install type="Acme.Crm.Infrastructure.ServicesInstaller, Acme.Crm.Infrastructure"/>
		<install assembly="Acme.Crm.Infrastructure"/>
	</installers>

	<properties>
		<connection_string>value here</connection_string>
	</properties>

	<facilities>
		<facility id="uniqueId" type="Acme.Common.Windsor.AcmeFacility, Acme.Common" />
	</facilities>

	<components>
		<component
      id="uniqueId"
      service="Acme.Crm.Services.INotificationService, Acme.Crm"
      type="Acme.Crm.Services.EmailNotificationService, Acme.Crm"
      inspectionBehavior="all|declaredonly|none"
      lifestyle="singleton|thread|transient|pooled|custom"
      customLifestyleType="type that implements ILifestyleManager"
      initialPoolSize="2" maxPoolSize="6">
			<forwardedTypes>
				<add service="Acme.Crm.Services.IEmailSender, Acme.Crm" />
			</forwardedTypes>
			<additionalInterfaces>
				<add interface="Acme.Crm.Services.IMetadataService, Acme.Crm" />
			</additionalInterfaces>
			<parameters>
				<paramtername>value</paramtername>
				<otherparameter>#{connection_string}</otherparameter>
			</parameters>
			<interceptors selector="${interceptorsSelector.id}" hook="${generationHook.id}">
				<interceptor>${interceptor.id}</interceptor>
			</interceptors>
			<mixins>
				<mixin>${mixin.id}</mixin>
			</mixins>
		</component>
	</components>
</castle>