<?xml version="1.0"?>
<configuration>
  <!--
   XMS.Core用于Web应用程序时必须的配置项
  -->
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" requirePermission="false" />
		<section name="wcfServices" type="XMS.Core.WCF.Client.Configuration.ServiceReferencesSection,XMS.Core" requirePermission="false" />
	</configSections>

  <!--
    appSettings 中只需要配置 AppName 和 AppVersion 两个配置项，其它配置项请放在 conf\appSettings.config 中进行配置，其中：
        AppName 表示应用的名称，唯一标识一个应用，必须全公司唯一，该名称可用于在 消息、集中日志、集中配置、集中监控 等场景中区分应用；
        AppVersion 表示应用的版本，配合 AppName 标识并区分应用；
  -->
  <appSettings>
    <add key="AppName" value="Test"/>
    <add key="AppVersion" value="1.0"/>
    <add key="EnableConcentratedConfig" value="true"/>
    <add key="ConcentratedConfigUpdateInterval" value="00:01:00"/>
    <add key="Services_ThreadPool_MinSize" value="8"/>
    <add key="Services_ThreadPool_MaxSize" value="1024"/>
  </appSettings>

  <!-- castle 配置节是必须的 -->
  <castle>
    <include uri="assembly://XMS.Core/container.core.config" />
  </castle>

  <!-- 
    wcfServices 配置节是可选的，用于配置系统引用的 WCF 服务
            serviceName WCF服务的名称，可随便写，保持唯一即可；
            serviceType WCF服务客户端代理接口的全名称；
  -->
  <wcfServices>
    <!-- 日志中心服务 -->
    <add serviceName="LogCenterService" serviceType="XMS.Core.Logging.ServiceModel.ILogCenterService, XMS.Core"/>
    <!-- 字典服务 -->
    <add serviceName="DictionaryService" serviceType="XMS.Core.Dictionary.ServiceModel.IRemoteDictionaryService, XMS.Core"/>
    <!-- 会员服务 -->
    <add serviceName="MemberService" serviceType="XMS.Core.Members.IMemberService, XMS.Core"/>
    <!-- 汇付支付服务 -->
    <add serviceName="PNRService" serviceType="XMS.Core.Pay.IPNRService, XMS.Core.Pay"/>
  </wcfServices>

  <system.web> 
    <httpModules>
			<add name="PerRequestServiceCache" type="XMS.Core.WCF.Client.PerWebRequestServiceCacheModule, XMS.Core" />
		</httpModules>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  
  <!-- IIS 7.0 集中模式时使用以下配置节
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
			<add name="PerRequestServiceCache" type="XMS.Core.WCF.Client.PerWebRequestServiceCacheModule, XMS.Core" />
    </modules>
  </system.webServer>
   -->

  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false"></defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="80"/>
    </connectionManagement>
  </system.net>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" hostNameComparisonMode="StrongWildcard"
                 openTimeout="00:00:02" sendTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:02:00"
                 maxConnections="16" listenBacklog="16"
                 transferMode="Buffered" maxBufferSize="104857600" maxReceivedMessageSize="104857600" maxBufferPoolSize="524288"
                 transactionProtocol="OleTransactions"
                 >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:02:00" enabled="false"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding" openTimeout="00:00:05" sendTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:03:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.3.78:58020/config" binding="netTcpBinding" contract="XMS.Core.Configuration.ServiceModel.IRemoteConfigService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientDefaultBehavior">
          <customHeader>
            <headers>
              <add type="XMS.Core.WCF.DemoHeader, XMS.Core"></add>
              <add type="XMS.Core.WCF.AppAgentHeader, XMS.Core"></add>
            </headers>
          </customHeader>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="customHeader" type="XMS.Core.WCF.CustomHeaderBehaviorExtensionElement, XMS.Core"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
