<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" requirePermission="false" />
    <section name="wcfServices" type="XMS.Core.WCF.Client.Configuration.ServiceReferencesSection,  XMS.Core" requirePermission="false" />
  </configSections>

  <!--
    appSettings 中只需要配置 AppName 和 AppVersion 两个配置项，其它配置项请放在 conf\appSettings.config 中进行配置，其中：
        AppName 表示应用的名称，唯一标识一个应用，必须全公司唯一，该名称可用于在 消息、集中日志、集中配置、集中监控 等场景中区分应用；
        AppVersion 表示应用的版本，配合 AppName 标识并区分应用；
  -->
  <appSettings>
    <add key="AppName" value="XMS.Core.Test"/>
    <add key="AppVersion" value="1.0"/>
  </appSettings>

  <!-- castle 配置节是必须的 -->
  <castle>
    <include uri="assembly://XMS.Core/container.core.config" />
  </castle>

  <!-- 
    wcfServices 配置节是可选的，用于配置系统引用的 WCF 服务
            serviceName WCF服务的名称，可随便写，保持唯一即可；
            serviceType WCF服务客户端代理接口的全名称；
            cacheModel  缓存模式，值为 PerWebRequest、PerCall、PerEndPoint 之一，其中：
                  PerRequest 表示每一个 Web 请求一个服务实例，在请求开始并第一次调用服务的方法时打开与远程服务器的连接，在请求结束时关闭连接；
                  PerCall       表示每次调用服务的方法都重新打开与远程服务器的连接，在方法调用结束时立即关闭连接；
                  PerEndPoint   表示对于同一个终端点，一旦对该终端点进行过一次调用并打开连接后，将一直维持该连接，之后针对该终端点的所有调用请求，都复用该连接进行；
                  PerThread     表示每个独立的线程一个通道及其服务代理对象，一旦对该线程进行过一次调用并打开连接后，将一直维持该连接，之后针对该终端点的所有调用请求，都复用该连接进行；
  -->
  <wcfServices>
    <!-- 日志中心服务 -->
    <add serviceName="LogCenterService" serviceType="XMS.Core.Logging.ServiceModel.ILogCenterService, XMS.Core" cacheModel="PerEndPoint"/>
    <!-- 字典服务 -->
    <add serviceName="DictionaryService" serviceType="XMS.Core.Dictionary.ServiceModel.IRemoteDictionaryService, XMS.Core" cacheModel="PerRequest"/>
    <!-- 会员服务 -->
    <add serviceName="MemberService" serviceType="XMS.Core.Members.IMemberService, XMS.Core" cacheModel="PerRequest"/>
    <!-- 汇付支付服务 -->
    <add serviceName="PNRService" serviceType="XMS.Core.Pay.IPNRService, XMS.Core.Pay" cacheModel="PerEndPoint"/>
  </wcfServices>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>