<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="errorCodes" type="XMS.Core.Configuration.ErrorCodesSection,  XMS.Core" requirePermission="false" />
  </configSections>
  <errorCodes>
    <add key="xxx" code="1001" message="hi {name}, welcome you."/>
  </errorCodes>
</configuration>