<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- 本配置文件用于配置定义在 XMS.Core 程序集中的核心服务，请小心改动，Web、WCF、Winform等中的配置文件请以下示例引用： -->
<!-- 本示例配置中提供的选项可作为容器默认配置选项，若要调整配置项，请参考 Castle配置示例 -->
<!--
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
	</configSections>

	<castle>
		<include uri="assembly://XMS.Core/container.core.config" />
		<installers>
			<install assembly="XMS.Web.Portal"/>
		</installers>
	</castle>

	<log4net debug="true">
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\Debug.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="30" />
			<maximumFileSize value="1000KB" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
<configuration>
-->

	<installers>
		<install assembly="XMS.Core"/>
	</installers>
	
	<components>
		<component
      id="LogService"
      service="XMS.Core.Logging.ILogService, XMS.Core"
      type="XMS.Core.Logging.DefaultLogService, XMS.Core"
      lifestyle="singleton">
		</component>
		<component
      id="CacheService"
      service="XMS.Core.Caching.ICacheService, XMS.Core"
      type="XMS.Core.Caching.DefaultCacheService, XMS.Core"
      lifestyle="singleton">
		</component>
    <component
      id="ResourceService"
      service="XMS.Core.Resource.IResourceService, XMS.Core"
      type="XMS.Core.Resource.DefaultResourceService, XMS.Core"
      lifestyle="singleton">
    </component>
    <component
      id="DictionaryService"
      service="XMS.Core.Dictionary.IDictionaryService, XMS.Core"
      type="XMS.Core.Dictionary.DefaultDictionaryService, XMS.Core"
      lifestyle="singleton">
		</component>

    <component
      id="CalendarService"
      service="XMS.Core.Calendar.ICalendarService, XMS.Core"
      type="XMS.Core.Calendar.DefaultCalendarService, XMS.Core"
      lifestyle="singleton">
    </component>
  </components>
</configuration>