<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="int" value="100"/>
    <add key="timespan" value="1:0:0"/>
    <add key="string" value="test"/>
    <add key="bool" value="false"/>
    <add key="Member_HyphenatedNames" value="诸葛,欧阳,司马"/>
  </appSettings>
</configuration>