<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataCacheClient"
			 type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,
            Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35" restartOnExternalChanges="true"
			 requirePermission="false"/>
    <section name="cacheSettings" type="XMS.Core.Caching.Configuration.CacheSettingsSection, XMS.Core" requirePermission="false" />
  </configSections>

  <dataCacheClient>
    <!-- dataCacheClient 节的配置与 App Fabric 的客户端配置完全相同，具体配置方法可参考：应用程序配置设置（AppFabric 1.1 缓存） http://msdn.microsoft.com/zh-cn/library/hh351483.aspx -->
    <hosts>
      <host name="192.168.1.32" cachePort="22233"/>
    </hosts>
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000"/>
    <!--
    <clientNotification pollInterval="300" maxQueueLength="10000"/>
    -->
    <securityProperties mode="None" protectionLevel="None" />
    <transportProperties connectionBufferSize="8192" maxBufferPoolSize="524288"
                         maxBufferSize="2147483647" maxOutputDelay="1000" channelInitializationTimeout="5000"
                         receiveTimeout="600000"/>
  </dataCacheClient>

  <cacheSettings>
    <enableDistributeCache value="true"/>
    <!-- 容错配置，控制当缓存服务器失效或者无法访问时的缓存访问策略
            retryingInterval 重试时间间隔，格式为：HH:mm:ss，默认为 00:03:00
            toLocalCache 指示当远程缓存服务器发生故障时是否转用本地缓存 -->
    <failover retryingInterval="00:05:00" toLocalCache="true"/>
    <!-- 缓存位置配置，position 值为 local、remote、both、inherit 之一，默认为 inherit，最顶级的默认值为 local。-->
    <caches>
      <cache name="local" dependencyFile="test.txt">
        <regions>
          <region name="a" capacity="100"/>
        </regions>
      </cache>
      <cache name="cities" position="remote">
        <regions>
          <region name="sh" position="local"/>
          <region name="bj" position="both"/>
          <region name="sz" position="inherit"/>
        </regions>
      </cache>
      <cache name="categories">
        <regions>
          <region name="sh" position="local"/>
          <region name="bj" position="both"/>
          <region name="sz" position="inherit"/>
        </regions>
      </cache>
    </caches>
  </cacheSettings>
</configuration>