<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="errorCodes" type="XMS.Core.Configuration.ErrorCodesSection,  XMS.Core" requirePermission="false" />
  </configSections>
  <errorCodes>
    <add key="test" code="1001" message="hi {A}, please enter your {{{B}}}, then click {{C}}, good luck, {C}!{"/>
  </errorCodes>
</configuration>