<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!--
          openTimeout       系统默认值 1 分钟，指传输引发异常之前可用于打开基础连接的时间间隔；
          sendTimeout       系统默认值 1 分钟，指传输引发异常之前可用于完成写入操作的时间间隔；
                              系统为请求发起方时，指可用于发送请求消息的最大时间；
                              系统为请求响应方时，指可用于发送请求响应消息的最大时间；
          closeTimeout      系统默认值 1 分钟，在传输引发异常之前可用于关闭连接的时间间隔；
                              系统为请求发起方时，指系统主动关闭连接过程中可用的最大时间；
                              系统为请求响应方时，指系统因处于非活动状态超过 receiveTimeout 或 inactivityTimeout 限定值时主动关闭连接过程中可用的最大时间；
          receiveTimeout    系统默认值 10 分钟，指系统可用于等待接收消息或基础结构消息的最大时间，如果超过该时间间隔仍未收到任何消息，将关闭基础连接；          
          inactivityTimeout 系统默认值 10 分钟，可靠回话 <reliableSession inactivityTimeout="00.00:05:00"/>
                            指系统可用于等待接收消息或基础结构消息的最大时间，如果超过该时间间隔仍未收到任何消息，将关闭基础连接；
      -->
      <netTcpBinding>
        <binding name="NetTcpBinding" openTimeout="00:00:02" sendTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:02:00" maxConnections="128" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:03:00" enabled="false"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding" openTimeout="00:00:02" sendTimeout="00:01:01" closeTimeout="00:01:02" receiveTimeout="00:03:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:03:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- logCenter 日志中心服务器 必须至少配 2 个节点 -->
      <endpoint name="LogCenterMain" address="net.tcp://localhost:58010/logCenter" binding="netTcpBinding" contract="XMS.Core.Logging.ServiceModel.ILogCenterService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>
      <endpoint name="LogCenterBackup" address="net.tcp://192.168.1.30:58010/logCenter" binding="netTcpBinding" contract="XMS.Core.Logging.ServiceModel.ILogCenterService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>
      <!-- 其它服务节点 -->

      <endpoint name="ConfigCenterBackup" address="net.tcp://localhost:58020/config" binding="netTcpBinding" contract="XMS.Core.Configuration.ServiceModel.IRemoteConfigService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>
      <endpoint name="ConfigCenterMain" address="net.tcp://192.168.1.30:58020/config" binding="netTcpBinding" contract="XMS.Core.Configuration.ServiceModel.IRemoteConfigService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>

      <endpoint address="net.tcp://192.168.1.30:58210/member" binding="netTcpBinding" contract="IMemberService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>

      <endpoint  name="main" address="net.tcp://192.168.3.78:59112/pay/pnr" binding="netTcpBinding" contract="XMS.Core.Pay.IPNRService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>
      <endpoint  name="backup" address="net.tcp://192.168.1.32:59112/pay/pnr" binding="netTcpBinding" contract="XMS.Core.Pay.IPNRService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>

      <endpoint address="net.tcp://192.168.1.30:58610/DictionaryService" binding="netTcpBinding" contract="IRemoteDictionaryService" bindingConfiguration="NetTcpBinding" behaviorConfiguration="clientDefaultBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientDefaultBehavior">
          <customHeader>
            <headers>
              <add type="XMS.Core.WCF.DemoHeader, XMS.Core"></add>
              <add type="XMS.Core.WCF.AppAgentHeader, XMS.Core"></add>
              <add type="XMS.Core.WCF.AuthorizationTicketHeader, XMS.Core"></add>
              <add type="XMS.Core.WCF.UserIPHeader, XMS.Core"></add>
            </headers>
          </customHeader>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="customHeader" type="XMS.Core.WCF.CustomHeaderBehaviorExtensionElement, XMS.Core"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>

